<HTML><HEAD><TITLE><!-- INSERT subject --></TITLE></HEAD>
<BODY><CENTER><H1><!-- INSERT subject --></CENTER></H1>

<CENTER>
<TABLE BORDER=0 WIDTH=80%>
<TR BGCOLOR=#D5E6E1><TD> Author </TD><TD> Subject: <!-- INSERT subject --> </TD></TR>
<TR BGCOLOR=#F7F7F7><TD> <B><!-- INSERT name --></B> </TD>
	<TD> <FONT SIZE=2><B>Posted At <I><!-- INSERT TIME --></I></B></FONT>
	<HR> <!-- INSERT body -->
	</TD></TR>
<!-- INSERT REPLIES -->
</TABLE>
</CENTER>
<HR SIZE=5 WIDTH=80%>

<CENTER>
<A NAME="reply">Post Reply:</A>
<BR><FORM NAME="post" ACTION="<!-- FORM ACTION -->" METHOD=POST>
<INPUT TYPE=HIDDEN NAME="reply" VALUE="<!-- INSERT NUMBER -->">
<INPUT TYPE=HIDDEN NAME="thread" VALUE="<!-- INSERT THREAD -->">
<TABLE BORDER=0 WIDTH=80%>
<TR BGCOLOR=#F7F7F7><TD>Name: </TD><TD> <INPUT TYPE=TEXT NAME="name" SIZE=50></TD></TR>
<TR BGCOLOR=#F7F7F7><TD>E-Mail: </TD><TD> <INPUT TYPE=TEXT NAME="email" SIZE=50></TD></TR>
<TR BGCOLOR=#F7F7F7><TD>Subject: </TD><TD> <INPUT TYPE=TEXT NAME="subject" SIZE=50 VALUE="<!-- INSERT RESUBJECT -->"></TD></TR>
<TR BGCOLOR=#F7F7F7><TD COLSPAN=2>Message: <BR> <TEXTAREA NAME="body" ROWS=10 COLS=56></TEXTAREA></TD></TR>
<TR BGCOLOR=#F7F7F7><TD COLSPAN=2 ALIGN=CENTER><INPUT TYPE=SUBMIT VALUE=" Submit Post "> <INPUT TYPE=RESET VALUE=" Clear "></TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>