P  {
    font-family: Arial;
	font-size:11pt;
	color :#333366;
	}
 
 .facts
 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
 }
 
 .smaller
 {
  font-family: Arial;
  font-size: 6pt;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333366; 
 }

.smaller:link
 {
  font-family: Arial;
  font-size: 6pt;
  color: #333366;
  text-decoration:underline; 
 } 
 
 .smaller:hover
 {
  font-family: Arial;
  font-size: 6pt;
  color: #333366;
  text-decoration:none;
  background-color: #B4BEEB;
 }
 
 .small
 {
  font-family: Arial;
  font-size: 8pt;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #333366; 
 }

.small:link
 {
  font-family: Arial;
  font-size: 8pt;
  color: #333366;
  text-decoration:underline; 
 } 
 
 .small:hover
 {
  font-family: Arial;
  font-size: 8pt;
  color: #333366;
  text-decoration:none;
  background-color: #B4BEEB;
 }
	
 .form
 {
  font-family: Arial;
  border: solid 1px #000000;
  font-size: 11pt;
  color: #000000;
 }	

 .list
 {
  font-family: Arial;
  font-size: 14pt;
  color: #333366; 
 }
 
 .list:link
 {
  font-family: Arial;
  font-size: 14pt;
  color: #333366;
  text-decoration:underline; 
 } 
 
 .list:hover
 {
  font-family: Arial;
  font-size: 14pt;
  color: #333366;
  text-decoration:none;
  background-color: #B4BEEB;
 }
 
 .pl
 {
  font-family: Arial;
  font-size: 11pt;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #000000; 
 }
 
 .pl:link {  font-family: Arial;  font-size: 11pt;  color: #000000;  margin-top: 10px;  margin-left: 10px;  margin-right: 10px;  margin-bottom: 20px;  text-decoration:underline;  } 
 .pl:hover
 {
  font-family: Arial;
  font-size: 11pt;
  color: #000000;
  margin-top: 10px; 
  margin-left: 10px;  
  margin-right: 10px;  
  margin-bottom: 20px;
  text-decoration:none;
  background-color: #99cc99;
 }
  .centere {text-align: center;font-family: Arial;  font-size: 8pt;  color: #333366;  text-decoration:underline; } 
  .centere:link {text-align: center;font-family: Arial;  font-size: 8pt;  color: #333366;  text-decoration:underline; } 
 .foot
 {
  text-align:left;
  font-family: Arial;
  font-size: 8pt;
  color: #333333; 
 }
 
 .foot:link
 {
  text-align: left;
  font-family: Arial;
  font-size: 8pt;
  color: #333333;
  text-decoration: none; 
 }
 
 
 .foot:visited
 {
  text-align:left;
  font-family: Arial;
  font-size: 8pt;
  color: #000066;
  text-decoration: none;
 }
 
 
 .foot:hover
 {
  text-align: left;
  font-family: Arial;
  font-size: 8pt;
  color: #333333; 
  text-decoration: underline;
 }